main {
    margin: 0px;
    padding: top 50px;
    ;
    background-color: plum;
}
header{
    padding: 20px 200px;
}

h1 {
    float: inline-start;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: paleturquoise;
}

body {
    background-color: thistle;

}

nav {
    float: inline-start;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: paleturquoise;
}

index.html ul {
    font-size: 20pt;
    text-align: center;
    font-family: cursive;
}

p {
    font-size: 20pt;
    text-align: center;
    font-family: cursive;
}