p {
    font-size: 30pt;
    color:fuchsia;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

h1 {
    font-size: 10px;
}

body {
    background-color: plum;
}

button {
    font-size: 10pt;
    width: 200px;
    border-radius: 3px;
    background: ;
}